:root {
  --highlight-color: #db0a5b;
  --button-color: #857ec1;
  --primary-color: #464457;
  --secondary-color: #e1e0e9;
  --tertiary-color: #f5f6fa;
  --danger-color: #c22727;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  background: var(--tertiary-color);
}

a,
button {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

button {
  background: transparent;
  border: none;
  font-size: inherit;
}

button:enabled:hover {
  cursor: pointer;
}

.template-placeholder {
  position: relative;
  display: flex;
  width: 100%;
}

.main {
  min-width: 0;
  min-height: 100vh;
  flex-grow: 1;
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main:empty::before {
  content: "Добро пожаловать!";
  display: flex;
  text-align: center;
  align-items: center;
  color: var(--primary-color);
  font-size: 1.6rem;
  margin-bottom: 2.5rem;
}

.title {
  color: var(--primary-color);
  margin: 3rem 0;
  font-size: 1.6rem;
}

.text {
  color: var(--primary-color);
}

.actions {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.loading {
  color: var(--primary-color);
  position: fixed;
  top: 1rem;
  right: 1rem;
  font-size: 1.2rem;
  visibility: hidden;
  z-index: 200;
}

.error-container {
  height: 100%;
  margin: 0 2rem;
  display: flex;
  align-items: center;
  text-align: center;
}

.error-container .title {
  margin-top: 0;
}
