.crud-form {
  padding: 1rem;
  margin: 0 0 2rem 0;
  border: 0.1rem solid var(--secondary-color);
  border-radius: 0.7rem;
}

.crud-form label::first-letter {
  text-transform: uppercase;
}

.crud-form .element {
  max-width: 30rem;
  margin: 1rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.crud-form .button {
  display: block;
  margin: 0 auto;
  margin-top: 2rem;
}

.crud-form .link-to-table {
  position: relative;
  display: inline-block;
  text-align: center;
  text-decoration: underline;
  color: var(--highlight-color);
  cursor: pointer;
  border: none;
}

.crud-form .link-input {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  opacity: 0;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.delete {
  max-width: 1.6rem;
  margin: 0.7rem;
  align-self: flex-end;
}

.delete:hover {
  cursor: pointer;
  filter: drop-shadow(0.06rem 0.06rem 0.035rem var(--danger-color));
}
