/* TODO: cleanup */

@import url("common.css");
@import url("controls.css");
@import url("crud-form.css");

.form-container {
  margin: 1rem auto;
  transform: scale(1.2);
}

.form-container .button {
  margin: 1rem auto;
}
