:root {
  --nav-width: 16rem;
  --delim: 12;
  --sub-menu-margin: calc(var(--nav-width) / var(--delim));
}

.navigation {
  --transition-duration: 0.4s;
  background: var(--primary-color);
  padding: 0.1rem;
  max-width: var(--nav-width);
  min-height: max(100vh, 100%);
  transition: margin var(--transition-duration),
    visibility var(--transition-duration);
  margin-left: calc(-1 * var(--nav-width));
  visibility: hidden;
  z-index: 12;
}

.show {
  margin-left: 0;
  visibility: visible;
}

.menu {
  pointer-events: none;
  width: 2rem;
  height: 2rem;
}

.menu-wrapper {
  position: absolute;
  top: 0.8rem;
  left: 0.8rem;
  cursor: pointer;
  z-index: 20;
}

.menu-wrapper .menu {
  width: 100%;
}

.menu.close-menu {
  filter: invert(1);
}

.navigation .title {
  color: #fdfdff;
  margin: 1.4rem 1rem;
  margin-top: 3.2rem;
}

.navigation ul {
  z-index: 10;
}

.navigation [data-chart]:before {
  content: "📊";
}

.navigation .item {
  color: var(--secondary-color);
}

.navigation .child {
  margin-left: var(--sub-menu-margin);
  background: var(--primary-color);
  display: none;
  max-width: max-content;
}

.navigation .child li button {
  padding: 0.6rem 1rem;
}

.navigation .parent > button::after {
  content: "»";
  margin-left: 0.5rem;
}

.navigation .selected-item {
  position: relative;
}

.navigation .selected-item::before {
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 0.5rem;
  background: var(--highlight-color);
  box-shadow: 0.2rem 0 1.3rem var(--highlight-color);
}

.navigation .item button {
  display: block;
  padding: 1rem;
  text-align: left;
}

.navigation .item button:hover {
  text-decoration: underline;
  color: #fdfdff;
}

@media (max-width: 700px) {
  .navigation {
    position: absolute;
  }
}
