:root {
  --nav-width: 16rem;
  --nav-width-sm: 12rem;
}

.navigation {
  background: var(--primary-color);
  padding: 0.1rem;
  max-width: var(--nav-width);
  min-height: 100vh;
  transition: margin 0.4s;
  z-index: 12;
}

.hidden {
  margin-left: calc(-1 * var(--nav-width));
}

.menu-wrapper {
  position: absolute;
  top: 0.8rem;
  left: 0.8rem;
  width: 2rem;
  cursor: pointer;
  z-index: 20;
}

.menu-wrapper .menu {
  width: 100%;
}

.menu.close-menu {
  width: 1.7rem;
  filter: invert(1);
}

.navigation .title {
  color: #fdfdff;
  margin: 1.4rem 1rem;
  margin-top: 3.2rem;
}

.navigation ul {
  z-index: 10;
}

.navigation [data-chart]:before {
  content: "📊";
}

.navigation .item {
  color: var(--secondary-color);
}

.navigation .child {
  position: absolute;
  left: 100%;
  top: 0;
  background: var(--primary-color);
  display: none;
  width: max-content;
}

.navigation .child li a {
  padding: 0.6rem 1rem;
}

.navigation .parent {
  position: relative;
}

.navigation .parent > a::after {
  content: "»";
  margin-left: 0.5rem;
}

.navigation .parent:hover > .child {
  display: block;
}

.navigation .selected-item {
  position: relative;
}

.navigation .selected-item::before {
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 0.5rem;
  background: var(--highlight-color);
  box-shadow: 0.2rem 0 1.3rem var(--highlight-color);
}

.navigation .item a {
  display: block;
  padding: 1rem;
}

.navigation .item a:hover {
  text-decoration: underline;
  color: #fdfdff;
}

@media (max-width: 768px) {
  .navigation {
    max-width: var(--nav-width-sm);
  }

  .hidden {
    margin-left: calc(-1 * var(--nav-width-sm));
  }

  .navigation .item a {
    padding: 0.8rem;
  }

  .navigation .title {
    font-size: 1.2rem;
  }
}
