@import url("common.css");
@import url("navigation.css");
@import url("controls.css");
@import url("table.css");

.crud-form {
  padding: 1rem;
  margin: 2rem 0;
  border: 0.1rem solid var(--secondary-color);
  border-radius: 0.7rem;
}

.crud-form label::first-letter {
  text-transform: uppercase;
}

.crud-form .element {
  max-width: 30rem;
  margin: 1rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.crud-form .button {
  display: block;
  margin: 0 auto;
  margin-top: 2rem;
}
