.table-container {
  width: 80%;
  margin: 1rem 0;
  font-size: 0.8rem;
}

.table-wrapper {
  overflow-x: auto;
}

.before-table {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.before-table .create {
  max-width: 1.5rem;
  margin: 0 0.5rem;
}

.before-table .create:hover {
  cursor: pointer;
  filter: drop-shadow(0.08rem 0.08rem 0.06rem #009060);
}

.before-table .chart {
  max-width: 1.6rem;
  filter: drop-shadow(1px 1px 0 black);
}

.before-table .chart:hover {
  cursor: pointer;
}

.before-table .download {
  background: no-repeat center/1.5rem url(../images/download-report.png);
  height: 1.8rem;
  appearance: none;
  border: none;
  outline: none;
  padding: 0.5rem;
  font-size: 1rem;
  filter: drop-shadow(1px 1px 0 #4590f9);
}

.before-table .download:hover {
  cursor: pointer;
  filter: drop-shadow(0.07rem 0.07rem 0.04rem #4590f9);
}

.table-container[data-access="readonly"] .create,
.table-container[data-access="read-delete"] .create,
.table-container[data-access="readonly"] .delete {
  display: none;
}

[data-chart="none"] {
  display: none;
}

.table {
  padding: 1rem;
  border-collapse: collapse;
  overflow: hidden;
  border-radius: 0.4rem;
  box-shadow: 0.1rem 0.1rem 0.7rem var(--secondary-color);
  width: 100%;
  text-align: center;
  margin: 1.3rem 0;
}

.table .head {
  background: var(--secondary-color);
  color: var(--primary-color);
  text-transform: uppercase;
}

.table .body {
  background: white;
}

.photo {
  max-width: 100%;
  border-radius: 50%;
  display: block;
}

.table tr {
  border: 0.08rem solid var(--secondary-color);
}

.table th {
  padding: 0.7rem;
}

.table td {
  padding: 0.5rem;
}

.table td:nth-child(2):empty,
.table td:nth-child(3):empty,
.table th:nth-child(2):empty,
.table th:nth-child(3):empty {
  display: none;
}

.table-container[data-access="readonly"] .table tr,
.table-container[data-access="read-delete"] .table tr,
.table-container .table .not-a-data-row {
  pointer-events: none;
}

.table-container[data-access="read-delete"] .table .delete-row {
  pointer-events: auto;
}

.table-container .table tr:hover {
  background: var(--secondary-color);
  cursor: pointer;
}

.pages {
  margin: 1rem 0;
  display: flex;
  justify-content: flex-end;
}

.pages .element {
  padding: 0.1rem 0.6rem;
  margin: 0 0.2rem;
}

.pages .current-page {
  opacity: 1;
  padding-top: 0.3rem;
}
